{% extends 'base.html' %}
{% block content %}
<section class="member_block">
{% for member in members %}
    <div class="member_boxes" id="member_boxes">
    <ul class="member_box_list">
    <li> <b><label for="member_name">Member:</label></b>{{member.name}} &nbsp; 
    <b><label for="member_age">Age:</label></b>{{member.age}}</li>
    <br>
    <li><b><label for="member_nationality">Nationality:</label></b>{{member.nationality}} &nbsp; 
    <b><label for="mobile_number">Mob#:</label></b>{{member.mob_number}}</li>
    <br>
    <li><b><label for="email">Email:</label></b>{{member.email}}</li>
    <li><label for="edit_member">Edit Member:</label><a href="/members/edit"><button><i class="fa-solid fa-pen-to-square"></button></i></a></li>
    </ul>
    </div>
{% endfor %}
</section>
{% endblock content %}