header {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-content: center;
}


#main_header {
    background-color: teal;
    color: darkmagenta;
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin: 0px;
}
.gym_name {
    padding-left: 10px;

}

.main_navigation {
    display: inline-flex;
    justify-content: right;
    list-style: none;
    align-items: center;
    width: 50%;
}

.nav_buttons {
    text-decoration: none;
}

a {
    text-decoration: none;
    padding-left: 4px;
    color: darkmagenta;
}

a:hover {
    color: blue;
    cursor: pointer;
}

body {
    display: flex;
    margin-left: 0px;

}

main {
    margin-top: 90px;
}