<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Gains House</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.freelogodesign.org/files/ef10791aa0974a91885275d367c9531d/thumb/logo_200x200.png?v=0">
</head>
<body>
    <header id="main_header"><img id="header_image" src="https://cdn.freelogodesign.org/files/ef10791aa0974a91885275d367c9531d/thumb/logo_200x200.png?v=0" width="125" height="99" alt="">
    <nav class="main_navigation">
        <ul class="main_navigation">
            <li class="nav_buttons"><a href="/home"  id="home_button">Home</a></li>
            <li class="nav_buttons" ><a href="/sessions" id="classes_button">Sessions</a></li>
            <li class="nav_buttons" ><a href="/members" id="members_button">Members</a></li>
        </ul>
    </nav>
    </header>
    <main>
    {% block content %}
        
    {% endblock content %}
    <footer>
        hello
    </footer>
    </main>
</body>
</html>