{% extends 'base.html' %}
{% block content %}
    <div class="create">
    <form action="/home/session" method="post">
        <label for="session">Create a Session: </label>
        <input type="text" name="session_name" placeholder="Session Name">
        <br>
        <label for="time">When is the session?</label>
        <input type="datetime-local" name="timedate">
        <br>
        <label for="length">Length (min):</label>
        <input type="text" name="length" placeholder="Length">
        <br>
        <label for="capacity">Capacity:</label>
        <input type="text" name="capacity" id="" placeholder="Capacity">
        <br>
        <label for="level">Level:</label>
        <select name="level" id="level">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Expert">Expert</option>
        </select>
        <br>
        <label for="description">Description:</label>
        <textarea name="description" id="" cols="30" rows="5"></textarea>
        <input class="btn btn--action" type="submit" value="Create Session">
    </form>
    </div>
    <div class="create">
        <form action="/home" method="post">
            <label for="member">Create a Member: </label>
            <input type="text" name="name" placeholder="Member Name">
            <br>
            <label for="age">Age:</label>
            <input type="text" name="age" placeholder="Age">
            <br>
            <label for="date">Nationality:</label>
            <input type="text" name="nationality" placeholder="Nationality">
            <br>
            <label for="mob_number">Mobile Number:</label>
            <input type="text" name="mob_number" placeholder="Mobile Number">
            <br>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Email">
            <br>
            <label for="membership_type">Membership Type:</label>
            <select name="membership_type" id="">
                <option value="Bronze">Bronze</option>
                <option value="Gold">Gold</option>
            </select>
            <input class="btn btn--action" type="submit" value="Create Member">
        </form>
    </div>
{% endblock content %}